/* FOOTER */
.footer {
  height: 18rem;
  opacity: 0.7;
  text-align: center;
  border-top: 2px solid var(--brand-color-dark2);
  line-height: 2;
}

.social-link-container {
  display: flex;
  gap: 1.2rem;
}

.social-link {
  font-size: 2.4rem;
  opacity: 0.7;
  transition: all 0.3s;
}

.social-link:hover {
  opacity: 1;
}
